.one {
    text-align: center;
    color: white;
    font-size: 40px;
    background-color: rgb(60, 60, 60);
}
p {
    color:white;
    font-size: 20px;
}
.copyright {
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -100px
}